body {
  height: 2000px;
}

.evo_c-scrolling-nav-carousel {
  position: relative;
  height: 20em;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

.evo_c-scrolling-carousel_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.evo_c-scrolling-carousel_item img {
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: transform 1s;
}

.is-pre img {
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 1s;
}

.evo_c-scrolling-carousel_notifier {
  width: 7em;
  margin: 200px auto 0;
}
.evo_c-scrolling-carousel_notifier li {
  display: inline-block;
  width: 2em;
  height: .5em;
  background: #ccc;
}
.evo_c-scrolling-carousel_notifier li.is-current {
  background: #3A3C39;
}
